body {
  font-family: Arial, sans-serif;
  background: url(bacground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
}

#weather {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

#forecast {
  margin-top: 11px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: small;
  width: 100%;
}
.forecast-day {
  display: inline-table;
  padding: 10px;
  border: 2px solid GREEN;
  border-radius: -12px;
  margin-bottom: 8px;
  background-color: #f9f9f9;
  margin-left: 16px;
}
footer {
  padding: 10px;
  background-color: rgba(24, 24, 27, 0.6);
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#search-form {
  padding: 11px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  border-radius: 5px;
  max-width: 261px;
  margin: 18px auto;
}

#city-input,
#search-form button {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #000;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#city-input {
  background-color: #e0f7fa;
}
